cifar-10-batches-py/batches.meta
cifar-10-batches-py/data_batch_1
cifar-10-batches-py/data_batch_2
cifar-10-batches-py/data_batch_3
cifar-10-batches-py/data_batch_4
cifar-10-batches-py/data_batch_5
cifar-10-batches-py/readme.html
cifar-10-batches-py/test_batch
saved_models/test/log.jsonl
saved_models/test/log.txt
saved_models/test/samples-0.png
saved_models/test/samples-1.png
saved_models/test/samples-2.png
saved_models/test/samples-3.png
saved_models/test/samples-4.png
saved_models/test/samples-5.png
saved_models/test/samples-6.png
saved_models/test/samples-7.png
saved_models/test/samples-8.png
saved_models/test/samples-9.png
saved_models/test/samples-16.png
saved_models/test/samples-32.png
saved_models/test/samples-64.png
saved_models/test/samples-128.png
cifar10-seed0-iter-900000-model-ema.th
cifar-10-python.tar.gz
